<!DOCTYPE HTML>
<!--
	Steelfit enigineering Co
	By Dwij Makvana
-->
<html>
	<head>
		<title>Dishend - Steelfit Engineering Co.</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="index.html" class="logo"><strong>Steelfit</strong> Engineering Co.</a>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
										<li><a href="#" class="icon brands fa-mail-bulk"><span class="label">Mail</span></a></li>
									</ul>
								</header>

							<!-- Content -->
								<section>
									<header class="main">
										<h1>Dishend</h1>
									</header>

									<span class="image main"><img src="images/12.jpg" height="500" width="600" alt="" /></span>

<table width="786" border="0">
  <tr>
    <td colspan="5" align="center" bgcolor="#999999" class="midal_text"><div align="center"><strong>DISHED ENDS </strong></div></td>
    </tr>
  <tr>
    <td colspan="5" bgcolor="#CCCCCC" class="midal_text"><div align="center"><strong>I. Dished ends by COLD SPINNING PROCESS By Imported Spinning Machine </strong></div></td>
    </tr>
  <tr>
    <td width="51" align="center" bgcolor="#999999" class="contact_text"><div align="center"><strong>Sr.</strong></div></td>
    <td width="213" align="center" bgcolor="#999999" class="contact_text"><strong>SIZE OF DISHED END.</strong></td>
    <td width="229" align="center" bgcolor="#999999" class="contact_text"><strong>KNUCKLE RADIUS</strong></td>
    <td width="123" align="center" bgcolor="#999999" class="contact_text"><strong>THICKNESS</strong></td>
    <td width="148" align="center" bgcolor="#999999" class="contact_text"><strong>M.O.C</strong></td>
  </tr>
  <tr>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">01</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">900 to 1500mm OD.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">100 to 250mm</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">08 to 20mm Thk.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">C.S./S.S.</td>
  </tr>
  <tr>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">02</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">1501 to  2000mm OD.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">100 to 300mm</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">08 to 22mm Thk.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">C.S./S.S.</td>
  </tr>
  <tr>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">03</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">2001 to  2500mm OD.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">100 to 400mm</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">08 to 30mm Thk.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">C.S./S.S.</td>
  </tr>
  <tr>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">04</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">2500 to  4000mm OD.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">100 to 500mm</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">10 to 36mm Thk</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">C.S./S.S.</td>
  </tr>
  <tr>
    <td colspan="5" align="center" bgcolor="#999999" class="midal_text"><div align="center"><strong>II.   Dished ends by Cold forming method (i.e. By point pressing       method ) </strong></div></td>
    </tr>
  <tr>
    <td align="center" bgcolor="#999999"><strong class="contact_text">Sr.</strong></td>
    <td align="center" bgcolor="#999999"><strong class="contact_text">SIZE OF DISHED END.</strong></td>
    <td align="center" bgcolor="#999999"><strong class="contact_text">KNUCKLE RADIUS</strong></td>
    <td align="center" bgcolor="#999999" class="contact_text"><strong>THICKNESS</strong></td>
    <td align="center" bgcolor="#999999" class="contact_text"><strong>M.O.C</strong></td>
  </tr>
  <tr>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">01</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">1000 to 1500mm OD.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">100 to 250mm</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">20 to 35mm Thk.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">C.S./S.S.</td>
  </tr>
  <tr>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">02</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">1501 to  2000mm OD.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">100 to 300mm</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">25 to 40mm Thk.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">C.S./S.S.</td>
  </tr>
  <tr>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">03</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">2001 to  2500mm OD.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">100 to 400mm</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">28 to 45mm Thk.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">C.S./S.S.</td>
  </tr>
  <tr>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">04</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">2501 to  4000mm OD</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">150 to 500mm</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">25 to 50mm Thk.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">C.S./S.S.</td>
  </tr>
  <tr>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">05</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">4001 to  4800mm OD.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">200 to 720mm</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">25 to 50mm Thk.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">C.S./S.S.</td>
  </tr>
  <tr>
    <td colspan="5" align="center" bgcolor="#999999" class="contact_text"><strong>III.    Dished ends/Caps by Cold forming method with Die &amp; Punch</strong></td>
    </tr>
  <tr>
    <td align="center" bgcolor="#999999" class="contact_text"><strong>Sr.</strong></td>
    <td align="center" bgcolor="#999999" class="contact_text"><strong>SIZE OF DISHED END.</strong></td>
    <td align="center" bgcolor="#999999" class="contact_text"><strong>KNUCKLE RADIUS</strong></td>
    <td align="center" bgcolor="#999999" class="contact_text"><strong>THICKNESS</strong></td>
    <td align="center" bgcolor="#999999" class="contact_text"><strong>M.O.C </strong></td>
  </tr>
  <tr>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">01</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">100 to 600mm OD.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">15 to 100mm</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">03 to 35mm Thk</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">C.S./S.S.</td>
  </tr>
  <tr>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">02</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">601 to 800mm OD.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">50 to 150mm</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">04 to 40mm Thk</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">C.S./S.S.</td>
  </tr>
  <tr>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">03</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">801 to  1000mm OD.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">75 to 150mm</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">10 to 40mm Thk.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">C.S./S.S.</td>
  </tr>
</table>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="index.html">Homepage</a></li>
										<li><a href="generic.html">About Us</a></li>
										<li><a href="elements.html">Products</a></li>
										<li><a href="Infrastructure.html">Infrastructure</a></li>
										<li><a href="Quality.html">Quality</a></li>
										<li><a href="photogallery.html">Photo Gallery</a></li>
										<li><a href="Inspection.html">Inspection Agency</a></li>
									</ul>
								</nav>


						<!-- Section -->
								<section>
									<header class="major">
										<h2>Get in touch</h2>
									</header>
									<p></p>
									<ul class="contact">
										<li class="icon solid fa-envelope"><a href="mailto :steelfit@rediffmail.com ">steelfit@rediffmail.com </br>info@steelfitengg.com</a></li>
										<li class="icon solid fa-phone"><a href="tel:+91-9825042746" class="Blondie">+ 91 - 98250 42746</br>+ 91 - 79 - 25840861</a></li>
										<li class="icon solid fa-home"><a href="https://goo.gl/maps/huybviZ6ETg2G3PU7"> Plot No.2917, Phase-IV,G.I.D.C;Industrial Estate, <br />
										Vatva, Ahmedabad-382445. Gujarat, INDIA</a></li>
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Steelfit. All rights reserved</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>