{% load static %}
<!DOCTYPE HTML>
<!--
	Steelfit enigineering Co
	By Dwij Makvana, Het Shah

-->
<html>
	<head>
		<title>Dishend - Steelfit Engineering Co.</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
							{% include "header.html" %}

							<!-- Content -->
								<section>
									<header class="main">
										<h1>Dishend</h1>
									</header>

									<span class="image main"><img src="{% static 'images/12.jpg' %}" height="500" width="600" alt="" /></span>

<table width="786" border="0">
  <tr>
    <td colspan="5" align="center" bgcolor="#999999" class="midal_text"><div align="center"><strong>DISHED ENDS </strong></div></td>
    </tr>
  <tr>
    <td colspan="5" bgcolor="#CCCCCC" class="midal_text"><div align="center"><strong>I. Dished ends by COLD SPINNING PROCESS By Imported Spinning Machine </strong></div></td>
    </tr>
  <tr>
    <td width="51" align="center" bgcolor="#999999" class="contact_text"><div align="center"><strong>Sr.</strong></div></td>
    <td width="213" align="center" bgcolor="#999999" class="contact_text"><strong>SIZE OF DISHED END.</strong></td>
    <td width="229" align="center" bgcolor="#999999" class="contact_text"><strong>KNUCKLE RADIUS</strong></td>
    <td width="123" align="center" bgcolor="#999999" class="contact_text"><strong>THICKNESS</strong></td>
    <td width="148" align="center" bgcolor="#999999" class="contact_text"><strong>M.O.C</strong></td>
  </tr>
  <tr>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">01</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">900 to 1500mm OD.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">100 to 250mm</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">08 to 20mm Thk.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">C.S./S.S.</td>
  </tr>
  <tr>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">02</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">1501 to  2000mm OD.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">100 to 300mm</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">08 to 22mm Thk.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">C.S./S.S.</td>
  </tr>
  <tr>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">03</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">2001 to  2500mm OD.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">100 to 400mm</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">08 to 30mm Thk.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">C.S./S.S.</td>
  </tr>
  <tr>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">04</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">2500 to  4000mm OD.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">100 to 500mm</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">10 to 36mm Thk</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">C.S./S.S.</td>
  </tr>
  <tr>
    <td colspan="5" align="center" bgcolor="#999999" class="midal_text"><div align="center"><strong>II.   Dished ends by Cold forming method (i.e. By point pressing       method ) </strong></div></td>
    </tr>
  <tr>
    <td align="center" bgcolor="#999999"><strong class="contact_text">Sr.</strong></td>
    <td align="center" bgcolor="#999999"><strong class="contact_text">SIZE OF DISHED END.</strong></td>
    <td align="center" bgcolor="#999999"><strong class="contact_text">KNUCKLE RADIUS</strong></td>
    <td align="center" bgcolor="#999999" class="contact_text"><strong>THICKNESS</strong></td>
    <td align="center" bgcolor="#999999" class="contact_text"><strong>M.O.C</strong></td>
  </tr>
  <tr>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">01</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">1000 to 1500mm OD.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">100 to 250mm</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">20 to 35mm Thk.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">C.S./S.S.</td>
  </tr>
  <tr>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">02</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">1501 to  2000mm OD.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">100 to 300mm</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">25 to 40mm Thk.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">C.S./S.S.</td>
  </tr>
  <tr>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">03</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">2001 to  2500mm OD.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">100 to 400mm</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">28 to 45mm Thk.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">C.S./S.S.</td>
  </tr>
  <tr>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">04</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">2501 to  4000mm OD</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">150 to 500mm</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">25 to 50mm Thk.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">C.S./S.S.</td>
  </tr>
  <tr>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">05</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">4001 to  4800mm OD.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">200 to 720mm</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">25 to 50mm Thk.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">C.S./S.S.</td>
  </tr>
  <tr>
    <td colspan="5" align="center" bgcolor="#999999" class="contact_text"><strong>III.    Dished ends/Caps by Cold forming method with Die &amp; Punch</strong></td>
    </tr>
  <tr>
    <td align="center" bgcolor="#999999" class="contact_text"><strong>Sr.</strong></td>
    <td align="center" bgcolor="#999999" class="contact_text"><strong>SIZE OF DISHED END.</strong></td>
    <td align="center" bgcolor="#999999" class="contact_text"><strong>KNUCKLE RADIUS</strong></td>
    <td align="center" bgcolor="#999999" class="contact_text"><strong>THICKNESS</strong></td>
    <td align="center" bgcolor="#999999" class="contact_text"><strong>M.O.C </strong></td>
  </tr>
  <tr>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">01</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">100 to 600mm OD.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">15 to 100mm</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">03 to 35mm Thk</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">C.S./S.S.</td>
  </tr>
  <tr>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">02</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">601 to 800mm OD.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">50 to 150mm</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">04 to 40mm Thk</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">C.S./S.S.</td>
  </tr>
  <tr>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">03</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">801 to  1000mm OD.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">75 to 150mm</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">10 to 40mm Thk.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">C.S./S.S.</td>
  </tr>
</table>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
              {% include "navbar.html" %}
						</div>
					</div>

			</div>

		<!-- Scripts -->
    {% include "scripts.html" %}

	</body>
</html>