{% load static %}
<!DOCTYPE HTML>
<!--
	Steelfit enigineering Co
	By Dwij Makvana, Het Shah
-->
<html>
	<head>
		<title>Products - Steelfit enigineering Co </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

								<!-- Header -->
								{% include "header.html" %}

							<!-- Content -->
								<section>
									<header class="main">
										<h1>Our Products</h1>
									</header>

									<!-- Content -->
										<h2 id="content">Delivering innovation for operational excellence.</h2>
										<div class="row">
											<style>img {border: 3px solid #33ACFF;}</style>
											<div class="col-3 col-12-large">
												<h4>Dish End</h4>
												<span class="image main"><a href="{% url 'dishend' %}"><img src="{% static 'images/12.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Hemi Spherical</h4>
												<span class="image main"><a href="{% url 'hemi' %}"><img src="{% static 'images/1.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Pipe Caps</h4>
												<span class="image main"><a href="{% url 'pipecaps' %}"><img src="{% static 'images/p_16.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Tori-Cones</h4>
												<span class="image main"><a href="{% url 'tori' %}"><img src="{% static 'images/tori.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>

										</div>


						</div>
					</div>

					<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
							{% include "navbar.html" %}

						</div>
					</div>

			</div>

		<!-- Scripts -->
		{% include "scripts.html" %}
		<div id="chatbot">
			{% include "chatbot.html" %}
		</div>
	</body>
</html>