<!DOCTYPE HTML>
<!--
	Steelfit enigineering Co
	By Dwij Makvana
-->
<html>
	<head>
		<title>About us - Steelfit Engineering Co.</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

								<!-- Header -->
								<header id="header">
									<a href="index.html" class="logo"><strong>Steelfit</strong> Engineering Co.</a>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
										<li><a href="#" class="icon brands fa-mail-bulk"><span class="label">Mail</span></a></li>
									</ul>
								</header>

							<!-- Content -->
								<section>
									<header class="main">
										<h1>About us</h1>
									</header>

									<span class="image main"><img src="images/img10.jpg" alt="" /></span>

									<p>Our organisation, "STEELFIT ENGINEERING CO," was founded in Ahmedabad in 1983.

Known for producing and supplying a variety of Dished ends, Pipe Caps, Concentric & Eccentric Tori-cone, Fabricated Expansion Bellows, Coil Bending, and Swage Connection in all types of C.S. and S.S., Alloy steel, Aluminum Material of Construction in accordance with Clients drawing, Specification, and Code, our company is a reputable organisation.</p>
									<p>We are an ISO:9001,2000 Certified Company (TUV Inspection)</p>
									<p>We are also IBR (Indian Boiler Regulations) Approved</p>
									<p>Since many years ago, we have collaborated with LRA, Bureau Veritas, TUV, EIL, PDIL, Jacob H & G, DNV, SGS, UHDE INDIA LTD, TATA PROJECTS LTD, BARC, and several other reputable consultants and inspection agencies. We have made a reputation for ourselves in the industry in just a few short years. With creative concepts, top-notch products, and a commitment to providing you with better service, "STEELFIT ENGINEERING CO." has established itself as a reputable brand both domestically and abroad.</p>
									<p>We supply the needs of the Indian and international markets for the power industry, petrochemicals, fertilisers, water treatment facilities, cement manufacturing, agricultural machinery, space manufacturing, etc.
We have partnerships with several TPIs, including LRA, TUV, TUV sud, BVIPL, SGS, DNV GL, IBR, JACOB, and TATA.

BARC, NPCIL, IRS, and other projects.
We made a commitment to unwavering client satisfaction and ongoing progress. We are committed to carrying out tasks correctly the first time and delivering on-time, defect-free products that meet all known specifications.
In all facets of our business, we are dedicated to quality, ethics, and excellence. We promise to continuously assess our performance and work toward getting better.
We will follow all relevant legal and administrative  	</p>
									<hr class="major" />


								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="index.html">Homepage</a></li>
										<li><a href="generic.html">About Us</a></li>
										<li><a href="elements.html">Products</a></li>
										<li><a href="Infrastructure.html">Infrastructure</a></li>
										<li><a href="Quality.html">Quality</a></li>
										<li><a href="photogallery.html">Photo Gallery</a></li>
										<li><a href="Inspection.html">Inspection Agency</a></li>
									</ul>
								</nav>


							<!-- Section -->
								<section>
									<header class="major">
										<h2>Get in touch</h2>
									</header>
									<p></p>
									<ul class="contact">
										<li class="icon solid fa-envelope"><a href="mailto :steelfit@rediffmail.com ">steelfit@rediffmail.com </br>info@steelfitengg.com</a></li>
										<li class="icon solid fa-phone"><a href="tel:+91-9825042746" class="Blondie">+ 91 - 98250 42746</br>+ 91 - 79 - 25840861</a></li>
										<li class="icon solid fa-home"><a href="https://goo.gl/maps/huybviZ6ETg2G3PU7"> Plot No.2917, Phase-IV,G.I.D.C;Industrial Estate, <br />
										Vatva, Ahmedabad-382445. Gujarat, INDIA</a></li>
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Steelfit. All rights reserved</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>