{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}" />
</head>
<body>
    <header id="header">
        <a href="{% url 'index' %}" class="logo"><strong>Steelfit</strong> Engineering Co.</a>
        <ul class="icons">
            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
            <li><a href="#" class="icon brands fa-mail-bulk"><span class="label">Mail</span></a></li>
        </ul>
    </header>
</body>
