{% load static %}
<!DOCTYPE HTML>
<!--
	Steelfit enigineering Co
	By Dwij Makvana, Het Shah
-->
<html>
	<head>
		<title>Hemispherical - Steelfit Engineering Co.</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">
						<!-- Header -->
						{% include "header.html" %}

							<!-- Content -->
								<section>
									<header class="main">
										<h1>Hemisherical</h1>
									</header>

									<span class="image main"><img src="{% static 'images/319.jpg' %}" height="500" width="600" alt="" /></span>

									<table width="786" border="0">
  <tr>
    <td colspan="5" align="center" bgcolor="#999999" class="midal_text"><div align="center"><strong>Hemi Spherical Dished Ends </strong></div></td>
    </tr>
  <tr>
    <td width="57" align="center" bgcolor="#999999" class="contact_text"><div align="center"><strong>Sr.</strong></div></td>
    <td width="285" align="center" bgcolor="#999999" class="contact_text"><strong>SIZE</strong></td>
    <td width="181" align="center" bgcolor="#999999" class="contact_text"><strong>THICKNESS</strong></td>
    <td width="241" colspan="2" align="center" bgcolor="#999999" class="contact_text"><strong>M.O.C</strong></td>
    </tr>
  <tr>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">01</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">100 to 6000mm OD.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">05 to 45mm Thk.</td>
    <td colspan="2" align="center" bgcolor="#CCCCCC" class="contact_text">C.S./S.S.</td>
    </tr>
</table>


								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
							{% include "navbar.html" %}

						</div>
					</div>

			</div>

		<!-- Scripts -->
		{% include "scripts.html" %}

	</body>
</html>