{% load static %}
<!DOCTYPE HTML>
<!--
	Steelfit enigineering Co
	By Dwij Makvana, Het Shah
-->
<html>
	<head>
		<title>Infrastructure - Steelfit Engineering Co.</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

									<!-- Header -->
									{% include "header.html" %}

							<!-- Content -->
						<section>
								<table>
  <tr>
    <td colspan="5" align="center" bgcolor="#999999" class="midal_text"><div align="center"><strong>Infrastructure of company </strong></div></td>
    </tr>
  <tr>
    <td  ><div align="center"><strong>Sr.</strong></div></td>
    <td  ><strong>Heading</strong></td>
  </tr>
  <tr>
    <td>01</td>
    <td>Plot Area</td>
    <td>3000 Sq. Mtrs with strong RCC Floor</td>
  </tr>
  <tr>
    <td>02</td>
    <td>Covered Area</td>
    <td>2300 Sq. Mtrs Built Area with strong RCC Floor</td>
  </tr>
  <tr>
    <td>03</td>
    <td>Uncovered Area OD.</td>
    <td>300 Sq. Mtrs Suitable for storage & scrap</td>

  </tr>
  <tr>
    <td>04</td>
    <td>Office Area</td>
    <td>100 Sq. Mtrs</td>
  </tr>

  <tr>
    <td>05 </td>
    <td> Stores</td>
    <td> 300 Sq. Mtrs</td>
  </tr>
  <tr>
    <td>06</td>
    <td>Handling Facility</td>
    <td><table>
		<tr><td>a</td>
			<td>Size of shed No-1: 13 Mtrs W X 42 Mtrs Long
10 Tons EOT Crane with 7.5 Mtrs Clear Hook Height = 1 No.
5 Tons EOT Crane with 7.5 Mtrs Clear Hook Height = 2 Nos.</td>
			</tr>
		<tr><td>b</td>
			<td>Size of shed No-2: 11.5. Mtr. W X 42 mtr Long
10 Tons EOT Crane with 7.5 Mtr. Clear Hook Height = 1 No.
5 Tons EOT Crane with 7.5 Mtr. Clear Hook Height = 1 No..</td>
			</tr>
		<tr><td>c</td>
			<td>Size of shed No-3: 14 Mtr.W X 42 Mtr. Long
10 Tons EOT Crane with 7.5 Mtr. Clear Hook Height = 1 No.
5 Tons EOT Crane with 7.5 Mtr. Clear Hook Height = 1 No.</td>
			</tr>
		<tr><td>d</td>
			<td>Size of shed No-4: 17.5 Mtr.W X 42 Mtr. Long
30 Tons EOT Crane with 8 Mtr. Clear Hook Height = 1 No.
10 Tons EOT Crane with 8 Mtr. Clear Hook Height = 1 No.</td>
			</tr>


	</table>
									</table>





	</table></td>


						</section>
						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
							{% include "navbar.html" %}


						</div>
					</div>

			</div>

		<!-- Scripts -->
		{% include "scripts.html" %}

	</body>
</html>