{% load static %}
<!DOCTYPE HTML>
<!--
	Steelfit enigineering Co
	By Dwij Makvana, Het Shah
-->
<html>
	<head>
		<title>Inspection - Steelfit Engineering Co.</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

									<!-- Header -->
									{% include "header.html" %}

							<!-- Content -->
								<section>
									<header class="main">
										<h1>Inspection Agencies</h1>
									</header>
										<div class="row">
											<div class="col-3 col-12-large">
												<h4>BUREAU VERITES</h4>
												<span class="image main"><a><img src="{% static 'images/BV.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>TATA PROJECT LTD.</h4>
												<span class="image main"><a><img src="{% static 'images/TATA.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Indian Boiler Regulation(IBR)</h4>
												<span class="image main"><a><img src="{% static 'images/IBR.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>S.G.S</h4>
												<span class="image main"><a><img src="{% static 'images/SGS.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>

										</div>
									<div class="row">
											<div class="col-3 col-12-large">
												<h4>D&B</h4>
												<span class="image main"><a><img src="{% static 'images/D&B.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>DNV</h4>
												<span class="image main"><a><img src="{% static 'images/DNV.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Enigneers India LTD.</h4>
												<span class="image main"><a><img src="{% static 'images/EIL.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Germnisher Lloys</h4>
												<span class="image main"><a><img src="{% static 'images/Germnisher%20Lloys.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>

										</div>
									<div class="row">
											<div class="col-3 col-12-large">
												<h4>Hertford Steam Boiler</h4>
												<span class="image main"><a><img src="{% static 'images/HSB_Logo.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Jacobs</h4>
												<span class="image main"><a><img src="{% static 'images/Jacobs.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Jazz</h4>
												<span class="image main"><a><img src="{% static 'images/jazz.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Lloyd's Register </h4>
												<span class="image main"><a><img src="{% static 'images/LRA.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>

										</div>
									<div class="row">
											<div class="col-3 col-12-large">
												<h4>NPCIL</h4>
												<span class="image main"><a><img src="{% static 'images/NPCIL.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>TUV</h4>
												<span class="image main"><a><img src="{% static 'images/TUV.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
										</div>



								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
							{% include "navbar.html" %}


						</div>
					</div>

			</div>

		<!-- Scripts -->
		{% include "scripts.html" %}
		<div id="chatbot">
			{% include "chatbot.html" %}
		</div>
	</body>
</html>