{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}" />
</head>
<body>
    <nav id="menu">
        <header class="major">
            <h2>Menu</h2>
        </header>
        <ul>
            <li><a href="{% url 'index' %}">Homepage</a></li>
            <li><a href="{% url 'generic' %}">About Us</a></li>
            <li><a href="{% url 'elements' %}">Products</a></li>
            <li><a href="{% url 'infra' %}">Infrastructure</a></li>
            <li><a href="{% url 'quality' %}">Quality</a></li>
            <li><a href="{% url 'photogallery' %}">Photo Gallery</a></li>
            <li><a href="{% url 'inspection' %}">Inspection Agency</a></li>
        </ul>
    </nav>

    <!-- Section -->
    <section>
        <header class="major">
            <h2>Get in touch</h2>
        </header>
        <p></p>
        <ul class="contact">
            <li class="icon solid fa-envelope"><a href="mailto :steelfit@rediffmail.com ">steelfit@rediffmail.com </br>info@steelfitengg.com</a></li>
            <li class="icon solid fa-phone"><a href="tel:+91-9825042746" class="Blondie">+ 91 - 98250 42746</br>+ 91 - 79 - 25840861</a></li>
            <li class="icon solid fa-home"><a href="https://goo.gl/maps/huybviZ6ETg2G3PU7"> Plot No.2917, Phase-IV,G.I.D.C;Industrial Estate, <br />
            Vatva, Ahmedabad-382445. Gujarat, INDIA</a></li>
        </ul>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <p class="copyright">&copy; Steelfit. All rights reserved</p>
    </footer>
</body>
