{% load static %}
<!DOCTYPE HTML>
<!--
	Steelfit enigineering Co
	By Dwij Makvana, Het Shah
-->
<html>
	<head>
		<title>Our Clients</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

									<!-- Header -->
									{% include "header.html" %}

							<!-- Content -->
								<section>
									<header class="main">
										<h1>Our Clients</h1>
									</header>

										<h2 id="content">When only one party makes a profit that's robbery when all parties make profit that's business.</h2>
										<div class="row">
											<div class="col-3 col-12-large">
												<h4>Aero Engineering</h4>
												<span class="image main"><a><img src="{% static 'client_images/11.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Airoil Flare</h4>
												<span class="image main"><a><img src="{% static 'client_images/Air%20oil.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Airox</h4>
												<span class="image main"><a><img src="{% static 'client_images/airox.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>ANST</h4>
												<span class="image main"><a><img src="{% static 'client_images/anst.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>

										</div>
									<div class="row">
											<div class="col-3 col-12-large">
												<h4>BAL Krishna Boilers PVT LTD</h4>
												<span class="image main"><a><img src="{% static 'client_images/BAL%20KRISHNA.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Baroda Equip</h4>
												<span class="image main"><a><img src="{% static 'client_images/Baroda%20equip.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>BHEL</h4>
												<span class="image main"><a><img src="{% static 'client_images/BHEL.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>BOMAFA</h4>
												<span class="image main"><a><img src="{% static 'client_images/BOMAFA.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>

										</div>
									<div class="row">
											<div class="col-3 col-12-large">
												<h4>C Doctor India</h4>
												<span class="image main"><a><img src="{% static 'client_images/cdoctor.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Chem Process</h4>
												<span class="image main"><a><img src="{% static 'client_images/CHEMPROCESS.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Cristopia</h4>
												<span class="image main"><a><img src="{% static 'client_images/Cristopia' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Cryo Gas Equipment </h4>
												<span class="image main"><a><img src="{% static 'client_images/cryogas.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>

										</div>
                                        <div class="row">
											<div class="col-3 col-12-large">
												<h4>Deep industries</h4>
												<span class="image main"><a><img src="{% static 'client_images/deep.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Degania industries</h4>
												<span class="image main"><a><img src="{% static 'client_images/degania.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Dodsal</h4>
												<span class="image main"><a><img src="{% static 'client_images/Dodsal.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Sachin industries LTD.</h4>
												<span class="image main"><a><img src="{% static 'client_images/download.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>

										</div>
                                        <div class="row">
											<div class="col-3 col-12-large">
												<h4>DRESSER RAND</h4>
												<span class="image main"><a><img src="{% static 'client_images/DR.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>ESSAR</h4>
												<span class="image main"><a><img src="{% static 'client_images/ESSAR.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Gammon</h4>
												<span class="image main"><a><img src="{% static 'client_images/GAMMON.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Gemini</h4>
												<span class="image main"><a><img src="{% static 'client_images/GEMINI.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>

										</div>
                                        <div class="row">
											<div class="col-3 col-12-large">
												<h4>GHCL Limited</h4>
												<span class="image main"><a><img src="{% static 'client_images/GHCL.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Gujrat Otofilt</h4>
												<span class="image main"><a><img src="{% static 'client_images/Gujrat oto.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Icemake</h4>
												<span class="image main"><a><img src="{% static 'client_images/ICE MAKE.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>IDMC Limited</h4>
												<span class="image main"><a><img src="{% static 'client_images/IDMC.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>

										</div>
                                        <div class="row">
											<div class="col-3 col-12-large">
												<h4>INOX</h4>
												<span class="image main"><a><img src="{% static 'client_images/Inox.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Indian Oil</h4>
												<span class="image main"><a><img src="{% static 'client_images/IOCL.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Institute of Plasma research</h4>
												<span class="image main"><a><img src="{% static 'client_images/IPR.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>ISGEC</h4>
												<span class="image main"><a><img src="{% static 'client_images/ISGEC.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>

										</div>
                                        <div class="row">
											<div class="col-3 col-12-large">
												<h4>ISRO</h4>
												<span class="image main"><a><img src="{% static 'client_images/isro_logo.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Jogindra</h4>
												<span class="image main"><a><img src="{% static 'client_images/Joginder.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Larsen & Tourbo</h4>
												<span class="image main"><a><img src="{% static 'client_images/LNT.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Mazda</h4>
												<span class="image main"><a><img src="{% static 'client_images/Mazda.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>

										</div>
                                        <div class="row">
											<div class="col-3 col-12-large">
												<h4>VRV</h4>
												<span class="image main"><a><img src="{% static 'client_images/VRV.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Vijay Tank and Vessels</h4>
												<span class="image main"><a><img src="{% static 'client_images/VTV.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Microtech Boilers PVT. LTD.</h4>
												<span class="image main"><a><img src="{% static 'client_images/Microtech.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Thermax Limited</h4>
												<span class="image main"><a><img src="{% static 'client_images/thermax.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>

										</div>
                                        <div class="row">
											<div class="col-3 col-12-large">
												<h4>Anup Engineering</h4>
												<span class="image main"><a><img src="{% static 'client_images/anup.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Tema India Limited</h4>
												<span class="image main"><a><img src="{% static 'client_images/TEMA INDIA.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>ITQAN</h4>
												<span class="image main"><a><img src="{% static 'client_images/ITQUAN.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Technip NMC</h4>
												<span class="image main"><a><img src="{% static 'client_images/tt.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>

										</div>
                                        <div class="row">
											<div class="col-3 col-12-large">
												<h4>SWISS GLASCOAT Equipment LTD.</h4>
												<span class="image main"><a><img src="{% static 'client_images/SWISS.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>PATELS</h4>
												<span class="image main"><a><img src="{% static 'client_images/patels.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Swelore Engineering</h4>
												<span class="image main"><a><img src="{% static 'client_images/SWELORE ENGINEERING.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Praj</h4>
												<span class="image main"><a><img src="{% static 'client_images/PRAJ.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
										</div>
									
                                        



								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
							{% include "navbar.html" %}


						</div>
					</div>

			</div>

		<!-- Scripts -->
		{% include "scripts.html" %}
		<div id="chatbot">
			{% include "chatbot.html" %}
		</div>
	</body>
</html>