{% load static %}
<!DOCTYPE HTML>
<!--
	Steelfit enigineering Co
	By Dwij Makvana, Het Shah
-->
<html>
	<head>
		<title>Our Clients</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

									<!-- Header -->
									{% include "header.html" %}

							<!-- Content -->
								<section>
									<header class="main">
										<h1>Our Clients</h1>
									</header>

										<h2 id="content">When only one party makes a profit that's robbery when all parties make profit that's business.</h2>
										<div class="row">
											<div class="col-3 col-12-large">
												<h4>Aero Engineering</h4>
												<span class="image main"><a><img src="{% static 'client_images/11.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Airoil Flare</h4>
												<span class="image main"><a><img src="{% static 'client_images/Air%20oil.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Airox</h4>
												<span class="image main"><a><img src="{% static 'client_images/airox.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>ANST</h4>
												<span class="image main"><a><img src="{% static 'client_images/anst.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>

										</div>
									<div class="row">
											<div class="col-3 col-12-large">
												<h4>BAL Krishna Boilers PVT LTD</h4>
												<span class="image main"><a><img src="{% static 'client_images/BAL%20KRISHNA.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Baroda Equip</h4>
												<span class="image main"><a><img src="{% static 'client_images/Baroda%20equip.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>BHEL</h4>
												<span class="image main"><a><img src="{% static 'client_images/BHEL.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>BOMAFA</h4>
												<span class="image main"><a><img src="{% static 'client_images/BOMAFA.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>

										</div>
									<div class="row">
											<div class="col-3 col-12-large">
												<h4>C Doctor India</h4>
												<span class="image main"><a><img src="{% static 'client_images/cdoctor.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Chem Process</h4>
												<span class="image main"><a><img src="{% static 'client_images/CHEMPROCESS.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Cristopia</h4>
												<span class="image main"><a><img src="{% static 'client_images/Cristopia' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Cryo Gas Equipment </h4>
												<span class="image main"><a><img src="{% static 'client_images/cryogas.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>

										</div>
                                        <div class="row">
											<div class="col-3 col-12-large">
												<h4>Deep industries</h4>
												<span class="image main"><a><img src="{% static 'client_images/deep.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Degania industries</h4>
												<span class="image main"><a><img src="{% static 'client_images/degania.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Enigneers India LTD.</h4>
												<span class="image main"><a><img src="{% static 'client_images/EIL.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Germnisher Lloys</h4>
												<span class="image main"><a><img src="{% static 'client_images/Germnisher%20Lloys.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>

										</div>
                                        <div class="row">
											<div class="col-3 col-12-large">
												<h4>D&B</h4>
												<span class="image main"><a><img src="{% static 'client_images/D&B.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>DNV</h4>
												<span class="image main"><a><img src="{% static 'client_images/DNV.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Enigneers India LTD.</h4>
												<span class="image main"><a><img src="{% static 'client_images/EIL.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Germnisher Lloys</h4>
												<span class="image main"><a><img src="{% static 'client_images/Germnisher%20Lloys.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>

										</div>
                                        <div class="row">
											<div class="col-3 col-12-large">
												<h4>D&B</h4>
												<span class="image main"><a><img src="{% static 'client_images/D&B.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>DNV</h4>
												<span class="image main"><a><img src="{% static 'client_images/DNV.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Enigneers India LTD.</h4>
												<span class="image main"><a><img src="{% static 'client_images/EIL.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Germnisher Lloys</h4>
												<span class="image main"><a><img src="{% static 'client_images/Germnisher%20Lloys.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>

										</div>
                                        <div class="row">
											<div class="col-3 col-12-large">
												<h4>D&B</h4>
												<span class="image main"><a><img src="{% static 'client_images/D&B.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>DNV</h4>
												<span class="image main"><a><img src="{% static 'client_images/DNV.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Enigneers India LTD.</h4>
												<span class="image main"><a><img src="{% static 'client_images/EIL.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Germnisher Lloys</h4>
												<span class="image main"><a><img src="{% static 'client_images/Germnisher%20Lloys.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>

										</div>
                                        <div class="row">
											<div class="col-3 col-12-large">
												<h4>D&B</h4>
												<span class="image main"><a><img src="{% static 'client_images/D&B.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>DNV</h4>
												<span class="image main"><a><img src="{% static 'client_images/DNV.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Enigneers India LTD.</h4>
												<span class="image main"><a><img src="{% static 'client_images/EIL.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Germnisher Lloys</h4>
												<span class="image main"><a><img src="{% static 'client_images/Germnisher%20Lloys.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>

										</div>
                                        <div class="row">
											<div class="col-3 col-12-large">
												<h4>D&B</h4>
												<span class="image main"><a><img src="{% static 'client_images/D&B.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>DNV</h4>
												<span class="image main"><a><img src="{% static 'client_images/DNV.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Enigneers India LTD.</h4>
												<span class="image main"><a><img src="{% static 'client_images/EIL.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Germnisher Lloys</h4>
												<span class="image main"><a><img src="{% static 'client_images/Germnisher%20Lloys.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>

										</div>
                                        <div class="row">
											<div class="col-3 col-12-large">
												<h4>D&B</h4>
												<span class="image main"><a><img src="{% static 'client_images/D&B.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>DNV</h4>
												<span class="image main"><a><img src="{% static 'client_images/DNV.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Enigneers India LTD.</h4>
												<span class="image main"><a><img src="{% static 'client_images/EIL.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Germnisher Lloys</h4>
												<span class="image main"><a><img src="{% static 'client_images/Germnisher%20Lloys.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>

										</div>
                                        <div class="row">
											<div class="col-3 col-12-large">
												<h4>D&B</h4>
												<span class="image main"><a><img src="{% static 'client_images/D&B.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>DNV</h4>
												<span class="image main"><a><img src="{% static 'client_images/DNV.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Enigneers India LTD.</h4>
												<span class="image main"><a><img src="{% static 'client_images/EIL.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Germnisher Lloys</h4>
												<span class="image main"><a><img src="{% static 'client_images/Germnisher%20Lloys.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>

										</div>
                                        <div class="row">
											<div class="col-3 col-12-large">
												<h4>D&B</h4>
												<span class="image main"><a><img src="{% static 'client_images/D&B.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>DNV</h4>
												<span class="image main"><a><img src="{% static 'client_images/DNV.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Enigneers India LTD.</h4>
												<span class="image main"><a><img src="{% static 'client_images/EIL.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Germnisher Lloys</h4>
												<span class="image main"><a><img src="{% static 'client_images/Germnisher%20Lloys.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>

										</div>
                                        <div class="row">
											<div class="col-3 col-12-large">
												<h4>D&B</h4>
												<span class="image main"><a><img src="{% static 'client_images/D&B.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>DNV</h4>
												<span class="image main"><a><img src="{% static 'client_images/DNV.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Enigneers India LTD.</h4>
												<span class="image main"><a><img src="{% static 'client_images/EIL.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Germnisher Lloys</h4>
												<span class="image main"><a><img src="{% static 'client_images/Germnisher%20Lloys.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>

										</div>
                                        <div class="row">
											<div class="col-3 col-12-large">
												<h4>D&B</h4>
												<span class="image main"><a><img src="{% static 'client_images/D&B.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>DNV</h4>
												<span class="image main"><a><img src="{% static 'client_images/DNV.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Enigneers India LTD.</h4>
												<span class="image main"><a><img src="{% static 'client_images/EIL.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Germnisher Lloys</h4>
												<span class="image main"><a><img src="{% static 'client_images/Germnisher%20Lloys.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>

										</div>
                                        <div class="row">
											<div class="col-3 col-12-large">
												<h4>D&B</h4>
												<span class="image main"><a><img src="{% static 'client_images/D&B.png' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>DNV</h4>
												<span class="image main"><a><img src="{% static 'client_images/DNV.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Enigneers India LTD.</h4>
												<span class="image main"><a><img src="{% static 'client_images/EIL.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>
											<div class="col-3 col-12-large">
												<h4>Germnisher Lloys</h4>
												<span class="image main"><a><img src="{% static 'client_images/Germnisher%20Lloys.jpg' %}" style="height: 120px; width: 180px" alt="" /></a></span>
											</div>

										</div>
                                        



								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
							{% include "navbar.html" %}


						</div>
					</div>

			</div>

		<!-- Scripts -->
		{% include "scripts.html" %}
		<div id="chatbot">
			{% include "chatbot.html" %}
		</div>
	</body>
</html>