{% load static %}
<!DOCTYPE HTML>
<!--
	Steelfit enigineering Co
	By Dwij Makvana, Het Shah
-->
<html>
	<head>
		<title>Photos - Steelfit Engineering Co.</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

									<!-- Header -->
									{% include "header.html" %}

							<!-- Content -->
								<section>
									<header class="main">
										<h1>Photo Gallery</h1>
									</header>

									<span class="image main"><img src="{% static 'images/img11n.jpg' %}" alt="" /></span>

									<p>Our organisation, "STEELFIT ENGINEERING CO," was founded in Ahmedabad in 1983.

Known for producing and supplying a variety of Dished ends, Pipe Caps, Concentric & Eccentric Tori-cone, Fabricated Expansion Bellows, Coil Bending, and Swage Connection in all types of C.S. and S.S., Alloy steel, Aluminum Material of Construction in accordance with Clients drawing, Specification, and Code, our company is a reputable organisation.</p>
									<p>We are an ISO:9001,2000 Certified Company (TUV Inspection)</p>
									<p>We are also IBR (Indian Boiler Regulations) Approved</p>
									<p>Since many years ago, we have collaborated with LRA, Bureau Veritas, TUV, EIL, PDIL, Jacob H & G, DNV, SGS, UHDE INDIA LTD, TATA PROJECTS LTD, BARC, and several other reputable consultants and inspection agencies. We have made a reputation for ourselves in the industry in just a few short years. With creative concepts, top-notch products, and a commitment to providing you with better service, "STEELFIT ENGINEERING CO." has established itself as a reputable brand both domestically and abroad.</p>
									<hr class="major" />


								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
							{% include "navbar.html" %}

						</div>
					</div>

			</div>

		<!-- Scripts -->
		{% include "scripts.html" %}

	</body>
</html>