{% load static %}
<!DOCTYPE HTML>
<!--
	Steelfit enigineering Co
	By Dwij Makvana, Het Shah
-->
<html>
	<head>
		<title>Photos - Steelfit Engineering Co.</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

									<!-- Header -->
									{% include "header.html" %}

							<!-- Content -->
								<section>
									<header class="main">
										<h1>Photo Gallery</h1>
									</header>

									<h2>This page is under construction</h2>


								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
							{% include "navbar.html" %}

						</div>
					</div>

			</div>

		<!-- Scripts -->
		{% include "scripts.html" %}
		<div id="chatbot">
			{% include "chatbot.html" %}
		</div>
	</body>
</html>