{% load static %}
<!DOCTYPE HTML>
<!--
	Steelfit enigineering Co
	By Dwij Makvana, Het Shah
-->
<html>
	<head>
		<title>Pipeends - Steelfit Engineering Co.</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

									<!-- Header -->
									{% include "header.html" %}

							<!-- Content -->
								<section>
									<header class="main">
										<h1>Pipe-caps</h1>
									</header>
									
									<!-- Dwij check this out-->
									<span class="image main"><img src="" height="500" width="600" alt="" /></span>

									<table width="786" border="0">
  <tr>
    <td colspan="5" align="center" bgcolor="#999999" class="midal_text"><div align="center"><strong>Pipe Caps as per ASME B 16.9 by Cold forming method with Die & Punch  </strong></div></td>
    </tr>
  <tr>
    <td width="57" align="center" bgcolor="#999999" class="contact_text"><div align="center"><strong>Sr.</strong></div></td>
    <td width="285" align="center" bgcolor="#999999" class="contact_text"><strong>SIZE OF PIPE CAP.</strong></td>
    <td width="181" align="center" bgcolor="#999999" class="contact_text"><strong>THICKNESS</strong></td>
    <td width="241" colspan="2" align="center" bgcolor="#999999" class="contact_text"><strong>M.O.C</strong></td>
    </tr>
  <tr>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">01</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">1” NB to 20” NB</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">SCH-05 to SCH -   XXS.</td>
    <td colspan="2" align="center" bgcolor="#CCCCCC" class="contact_text">C.S./S.S.</td>
    </tr>
</table>


								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
							{% include "navbar.html" %}


						</div>
					</div>

			</div>

		<!-- Scripts -->
		{% include "scripts.html" %}
	</body>
</html>





<

