{% load static %}
<!DOCTYPE HTML>
<!--
	Steelfit enigineering Co
	By Dwij Makvana, Het Shah
-->
<html>
	<head>
		<title>Quality - Steelfit Engineering Co.</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
							{% include "header.html" %}

							<!-- Content -->
								<section>
									<header class="main">
										<h1>Quality</h1>
									</header>

									<span class="image main"><img src="{% static 'images/quality.jpg' %}" height="500" width="600" alt="" /></span>

									<p>It is our policy as an organisation to ensure that supplies adhere to contractual specifications and that customers are satisfied in terms of consistent quality, timely delivery, and customised pattern to suit the application.

In all of our activities, we will strive for continuous improvement. We also pledge to put in place, maintain, and constantly improve our Quality Management System.


We believe in working efficiently and effectively and delivering products that fully satisfy our customers' requirements, prime quality products, which is the company's motto, and total conformance to high quality product standards. We are committed to providing you with better services and prompt attention at all times.</p>
\									<hr class="major" />


								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
							{% include "navbar.html" %}

						</div>
					</div>

			</div>

		<!-- Scripts -->
		{% include "scripts.html" %}

	</body>
</html>