{% load static %}
<!DOCTYPE HTML>
<!--
	Steelfit enigineering Co
	By Dwij Makvana, Het Shah
-->
<html>
	<head>
		<title>Tori - Steelfit Engineering Co.</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

									<!-- Header -->
									{% include "header.html" %}

							<!-- Content -->
								<section>
									<header class="main">
										<h1>Tori-cones </h1>
									</header>

									<table width="786" border="0">
  <tr>
    <td colspan="5" align="center" bgcolor="#999999" class="midal_text"><div align="center"><strong>TORI-CONE (CONECENTRIC, ECCENTRIC & FLARRING) by COLD FORMING METHOD. </strong></div></td>
    </tr>
  <tr>
    <td width="51" align="center" bgcolor="#999999" class="contact_text"><div align="center"><strong>Sr.</strong></div></td>
    <td width="213" align="center" bgcolor="#999999" class="contact_text"><strong>SMALLER DIA.OF CONE</strong></td>
    <td width="229" align="center" bgcolor="#999999" class="contact_text"><strong>LARGER DIA. OF CONE</strong></td>
    <td width="123" align="center" bgcolor="#999999" class="contact_text"><strong>THICKNESS</strong></td>
    <td width="148" align="center" bgcolor="#999999" class="contact_text"><strong>M.O.C</strong></td>
  </tr>
  <tr>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">01</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">100mm  to 2500mm </td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">300mm to 5500mm</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">05 to 35mm Thk.</td>
    <td align="center" bgcolor="#CCCCCC" class="contact_text">C.S./S.S.</td>
  </tr>
</table>
>


								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
							{% include "navbar.html" %}


						</div>
					</div>

			</div>

		<!-- Scripts -->
		{% include "scripts.html" %}

	</body>
</html>